:root {
    --background-color: #0a2a43; /* Valor por defecto */
    --text-color: #ffffff;
    --gradient-color: transparent;
}

[data-theme="dark"] {
    --background-color: #0a2a43; /* Fondo para modo oscuro */
    --text-color: #ffffff;
    --gradient-color: #121212;
}

[data-theme="light"] {    
    --background-color: #ffffff; /* Fondo para modo claro */
    --text-color: #121212;
    --gradient-color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.content-wrapper {
    background-color: var(--background-color) !important;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color) !important;
    color: var(--text-color);
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: opacity 0.3s;
}

#text {
    position: relative;
    font-size: 10em;
    z-index: 1;
    color: var(--text-color);
    transition: color 0.3s;
}

#road {
    z-index: 2;
}

.card,
button {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* modo oscuro para el calendario*/
[data-theme="dark"] #calendar {
    background-color: #1a1a1a;
    color: #fff;
}

[data-theme="dark"] .fc-theme-standard .fc-scrollgrid,
[data-theme="dark"] .fc-theme-standard td,
[data-theme="dark"] .fc-theme-standard th {
    border-color: #333;
}

[data-theme="dark"] .fc-col-header-cell-cushion,
[data-theme="dark"] .fc-daygrid-day-number {
    color: #fff;
}

[data-theme="dark"] .fc-button-primary {
    background-color: #3c4b64;
    border-color: #3c4b64;
}

[data-theme="dark"] .fc-button-primary:hover {
    background-color: #515e78;
    border-color: #515e78;
}

[data-theme="dark"] .fc-event {
    border-color: rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .fc-day-today {
    background-color: rgba(81, 94, 120, 0.3) !important;
}

[data-theme="dark"] .fc-daygrid-day-frame {
    background-color: #1a1a1a;
}

/* Dark mode styles for the modal */
[data-theme="dark"] .modal-content {
    background-color: #2c3b4f;
    color: #fff;
}

[data-theme="dark"] .modal-header,
[data-theme="dark"] .modal-footer {
    border-color: #3c4b64;
}

[data-theme="dark"] .form-control,
[data-theme="dark"] .form-select {
    background-color: #1a1a1a;
    border-color: #3c4b64;
    color: #fff;
}

[data-theme="dark"] .form-control:focus,
[data-theme="dark"] .form-select:focus {
    background-color: #1a1a1a;
    color: #fff;
    border-color: #515e78;
}

[data-theme="dark"] .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}