:root {
    --background-color: #0a2a43; /* Valor por defecto */
    --text-color: #ffffff;
    --gradient-color: transparent;
}

[data-theme="dark"] {
    --background-color: #0a2a43; /* Fondo para modo oscuro */
    --text-color: #ffffff;
    --gradient-color: #121212;
}

[data-theme="light"] {    
    --background-color: #ffffff; /* Fondo para modo claro */
    --text-color: #121212;
    --gradient-color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.content-wrapper {
    background-color: var(--background-color) !important;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color) !important;
    color: var(--text-color);
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: opacity 0.3s;
}

#text {
    position: relative;
    font-size: 10em;
    z-index: 1;
    color: var(--text-color);
    transition: color 0.3s;
}

#road {
    z-index: 2;
}

.card,
button {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
